# Guided Project: Mobile App for Lottery Addiction

Many people start playing the lottery for fun, but for some this activity turns into a habit which eventually escalates into addiction. Like other compulsive gamblers, lottery addicts soon begin spending from their savings and loans, they start to accumulate debts, and eventually engage in desperate behaviors like theft.

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

For the first version of the app, they want us to focus on the 6/49 lottery and build functions that enable users to answer questions like:

* What is the probability of winning the big prize with a single ticket?
* What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
* What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

The institute also wants us to consider historical data coming from the national 6/49 lottery game in Canada. The data set has data for 3,665 drawings, dating from 1982 to 2018.

## Core Functions

Below, we're going to write two functions that we'll be using frequently:

factorial() — a function that calculates factorials

combinations() — a function that calculates combinations

In [1]:
def factorial(n):
    res = 1
    for i in range(n,0, -1):
        res = res*i
    return res

def combinations(n, k):
    return factorial(n)/(factorial(k)*factorial(n-k))

## One-ticket Probability

We need to build a function that calculates the probability of winning the big prize for any given ticket. For each drawing, six numbers are drawn from a set of 49, and a player wins the big prize if the six numbers on their tickets match all six numbers.

The engineer team told us that we need to be aware of the following details when we write the function:

* Inside the app, the user inputs six different numbers from 1 to 49.
* Under the hood, the six numbers will come as a Python list and serve as an input to our function.
* The engineering team wants the function to print the probability value of winning in a friendly way — in a way that people without any probability training are able to understand.

Below, we write the one_ticket_probability() function, which takes in a list of six unique numbers and prints the probability of winning in a way that's easy to understand.

In [2]:
def one_ticket_probability(six_nums):
    total_outcomes = combinations(49,6)
    return print('Your chanse of winning\
 with the numbers {}are 1 in {} million'.format(\
                                                          six_nums,\
                                                          round(total_outcomes/1000000,2)))

In [3]:
one_ticket_probability([1,2,3,4,5,6])

Your chanse of winning with the numbers [1, 2, 3, 4, 5, 6]are 1 in 13.98 million

## Historical Data Check for Canada Lottery

The institute also wants us to consider the data coming from the national 6/49 lottery game in Canada. The data set contains historical data for 3,665 drawings, dating from 1982 to 2018

In [4]:
import pandas as pd
loto = pd.read_csv('649.csv')
loto.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [5]:
loto.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [6]:
loto.shape

(3665, 11)

In [7]:
loto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 11 columns):
PRODUCT            3665 non-null int64
DRAW NUMBER        3665 non-null int64
SEQUENCE NUMBER    3665 non-null int64
DRAW DATE          3665 non-null object
NUMBER DRAWN 1     3665 non-null int64
NUMBER DRAWN 2     3665 non-null int64
NUMBER DRAWN 3     3665 non-null int64
NUMBER DRAWN 4     3665 non-null int64
NUMBER DRAWN 5     3665 non-null int64
NUMBER DRAWN 6     3665 non-null int64
BONUS NUMBER       3665 non-null int64
dtypes: int64(10), object(1)
memory usage: 315.0+ KB

## Function for Historical Data Check

The engineering team tells us that we need to write a function that can help users determine whether they would have ever won by now using a certain combination of six numbers. These are the details we'll need to be aware of:

* Inside the app, the user inputs six different numbers from 1 to 49.
* Under the hood, the six numbers will come as a Python list and serve as an input to our function.
* The engineering team wants us to write a function that prints:
    * the number of times the combination selected occurred; and
    * the probability of winning the big prize in the next drawing with that combination.
    
We're going to begin by extracting all the winning numbers from the lottery data set. The extract_numbers() function will go over each row of the dataframe and extract the six winning numbers as a Python set.

In [8]:
def extract_nums(r):
    s = set()
    for i in r:
        s.add(i)
    return s
loto['sets'] = loto.iloc[:, 4:-2].apply(lambda row: extract_nums(row), axis = 1)

In [9]:
loto.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER,sets
0,649,1,0,6/12/1982,3,11,12,14,41,43,13,"{41, 3, 11, 12, 14}"
1,649,2,0,6/19/1982,8,33,36,37,39,41,9,"{8, 33, 36, 37, 39}"
2,649,3,0,6/26/1982,1,6,23,24,27,39,34,"{24, 1, 27, 6, 23}"

In [10]:
def check_hist(comb):
    s = set(comb)
    matching = loto['sets']==s
    return print('The combination you entered occured {} number of times since 1982!'.format(sum(matching)))

In [11]:
check_hist([1, 6, 39, 23, 24, 27])

The combination you entered occured 0 number of times since 1982!

## Multi-ticket Probability

For the first version of the app, users should also be able to find the probability of winning if they play multiple different tickets. For instance, someone might intend to play 15 different tickets and they want to know the probability of winning the big prize.

The engineering team wants us to be aware of the following details when we're writing the function:

The user will input the number of different tickets they want to play (without inputting the specific combinations they intend to play).
Our function will see an integer between 1 and 13,983,816 (the maximum number of different tickets).
The function should print information about the probability of winning the big prize depending on the number of different tickets played.
The multi_ticket_probability() function below takes in the number of tickets and prints probability information depending on the input.

In [12]:
def multi_ticket_probability(n):
    return print('The probability of winning with {} number of tickets is one in {}'.format(n, combinations(49,6)/n))

In [13]:
tests = [1, 10, 100, 10000, 1000000, 6991908, 13983816]
for i in tests:
        multi_ticket_probability(i)

The probability of winning with 1 number of tickets is one in 13983816.0
The probability of winning with 10 number of tickets is one in 1398381.6
The probability of winning with 100 number of tickets is one in 139838.16
The probability of winning with 10000 number of tickets is one in 1398.3816
The probability of winning with 1000000 number of tickets is one in 13.983816
The probability of winning with 6991908 number of tickets is one in 2.0
The probability of winning with 13983816 number of tickets is one in 1.0

## Less Winning Numbers — Function

In most 6/49 lotteries, there are smaller prizes if a player's ticket match two, three, four, or five of the six numbers drawn. This means that players might be interested in finding out the probability of having two, three, four, or five winning numbers — for the first version of the app, users should be able to find those probabilities.

These are the details we need to be aware of when we write a function to make the calculations of those probabilities possible:

* Inside the app, the user inputs:
    * six different numbers from 1 to 49; and
    * an integer between 2 and 5 that represents the number of winning numbers expected
* Our function prints information about the probability of having a certain number of winning numbers

To calculate the probabilities, we tell the engineering team that the specific combination on the ticket is irrelevant and we only need the integer between 2 and 5 representing the number of winning numbers expected. Consequently, we will write a function named probability_less_6() which takes in an integer and prints information about the chances of winning depending on the value of that integer.

The function below calculates the probability that a player's ticket matches exactly the given number of winning numbers. If the player wants to find out the probability of having five winning numbers, the function will return the probability of having five winning numbers exactly (no more and no less). The function will not return the probability of having at least five winning numbers.

In [24]:
def probability_less_6(n):
    tot = combinations(49,6)
    comb_n_in_6 = combinations(6,n)
    comb_remaining = combinations(43, 6-n)
    win = comb_n_in_6*comb_remaining
    
    return print('Your chanses of hitting {} numbers is one in {} \n -___'.format(n,round(tot/win,0)))

In [25]:
test = [2,3,4,5]
for i in test:
    probability_less_6(i)

Your chanses of hitting 2 numbers is one in 8.0
 -___
Your chanses of hitting 3 numbers is one in 57.0
 -___
Your chanses of hitting 4 numbers is one in 1032.0
 -___
Your chanses of hitting 5 numbers is one in 54201.0
 -___

# Hitting At Least 'x' Numbers

Finally for comparison we'll check the probability of guessing 'at least x' numbers.

In [30]:
def p_atleast_x(x):
    p_list = []
    tot = combinations(49,6)
    for i in range(x, 6+1):
        i_in_6 = combinations(6, i)
        remaining = combinations(43, 6-i)
        win = i_in_6*remaining
        p_list.append(win/tot)
    return sum(p_list)

In [31]:
for i in [2,3,4,5]:
    print('Your chances of guessing at least {} numbers is one in {}'.format(i, round(1/p_atleast_x(i),0)))

Your chances of guessing at least 2 numbers is one in 7.0
Your chances of guessing at least 3 numbers is one in 54.0
Your chances of guessing at least 4 numbers is one in 1013.0
Your chances of guessing at least 5 numbers is one in 53992.0